Node-RED/nodered_flow.json
[
    {
        "id": "CGLG6",
        "type": "tab",
        "label": "PantelisThesis",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a6ff45fb.d85e98",
        "type": "http request",
        "z": "CGLG6",
        "name": "Fiware-Version",
        "method": "GET",
        "ret": "obj",
        "url": "http://155.207.33.189:1026//v2/entities/PointHeader/attrs?type=PointHeader",
        "tls": "",
        "x": 340,
        "y": 300,
        "wires": [
            [
                "fa273836.eb44b8",
                "447e9053.a5f438"
            ]
        ]
    },
    {
        "id": "4dcdbd79.b42264",
        "type": "inject",
        "z": "CGLG6",
        "name": "make-request",
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 330,
        "y": 220,
        "wires": [
            [
                "c63af0de.879b8"
            ]
        ]
    },
    {
        "id": "9a133697.5a8f88",
        "type": "function",
        "z": "CGLG6",
        "name": "intruder-alert",
        "func": "var point = msg.payload;\n\nif (point.x !== 0) {\n    var alerts = \"ALERT! Intruder spotted\";\n}\nelse{\n    var alerts = \"\";\n}\n    return {payload:alerts};\n",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 380,
        "wires": [
            [
                "1fff4147.fa4137"
            ]
        ]
    },
    {
        "id": "7095e2ba.21232c",
        "type": "json",
        "z": "CGLG6",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": true,
        "x": 450,
        "y": 540,
        "wires": [
            [
                "eae2d8b3.9f115"
            ]
        ]
    },
    {
        "id": "fa273836.eb44b8",
        "type": "function",
        "z": "CGLG6",
        "name": "transform-alert",
        "func": "var point = msg.payload;\n\nvar p = {\n        id:point.frame_id.value,\n        stamp:point.stamp.value,\n        x: point.x.value,\n        y: point.y.value,\n        z: point.z.value\n    }\n    return {payload: p};",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 380,
        "wires": [
            [
                "9a133697.5a8f88",
                "ebd61898.3a9db"
            ]
        ]
    },
    {
        "id": "7166140.63446ec",
        "type": "ui_audio",
        "z": "CGLG6",
        "name": "",
        "group": "cdcebf4a.c4a188",
        "voice": "en-US",
        "always": true,
        "x": 840,
        "y": 480,
        "wires": []
    },
    {
        "id": "c347fae6.5c14d8",
        "type": "function",
        "z": "CGLG6",
        "name": "intruder-alert",
        "func": "var load = msg.payload;\n\nif (load.x !== 0) {\n   var str = 'Intruder Detected!';\n   return {payload: str};\n}\n// else{\n//     var str = ''\n// }   \n\n// }\n",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 480,
        "wires": [
            [
                "d44ecce5.d41138",
                "d28f218e.52284"
            ]
        ]
    },
    {
        "id": "d44ecce5.d41138",
        "type": "json",
        "z": "CGLG6",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": true,
        "x": 690,
        "y": 480,
        "wires": [
            [
                "7166140.63446ec"
            ]
        ]
    },
    {
        "id": "b41a41a5.e8812",
        "type": "ui_switch",
        "z": "CGLG6",
        "name": "",
        "label": "<font size = 5>Enable/Disable ",
        "tooltip": "",
        "group": "215c6d36.b0f562",
        "order": 2,
        "width": "6",
        "height": "6",
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "fa-4x fa-bullseye ",
        "oncolor": "green",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "fa-4x fa-bullseye ",
        "offcolor": "red",
        "x": 380,
        "y": 160,
        "wires": [
            [
                "5488ed68.f28734"
            ]
        ],
        "inputLabels": [
            "enable"
        ],
        "outputLabels": [
            "enable"
        ]
    },
    {
        "id": "c63af0de.879b8",
        "type": "function",
        "z": "CGLG6",
        "name": "enable/disable",
        "func": "var begin = msg.payload;\nvar on = global.get(\"publicVariables\");\nif (on === true){\n    return {payload:begin};\n}\n// return on;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 220,
        "wires": [
            [
                "a6ff45fb.d85e98"
            ]
        ]
    },
    {
        "id": "eae2d8b3.9f115",
        "type": "ui_text",
        "z": "CGLG6",
        "group": "cdcebf4a.c4a188",
        "order": 1,
        "width": "6",
        "height": "6",
        "name": "Coordinates",
        "label": "",
        "format": "<font size =4>{{msg.payload}}",
        "layout": "col-center",
        "x": 630,
        "y": 540,
        "wires": []
    },
    {
        "id": "5488ed68.f28734",
        "type": "function",
        "z": "CGLG6",
        "name": "declaration",
        "func": "global.set(\"publicVariables\", msg.payload);",
        "outputs": 1,
        "noerr": 0,
        "x": 610,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "1fff4147.fa4137",
        "type": "ui_text",
        "z": "CGLG6",
        "group": "8c9273dd.3f4ed",
        "order": 2,
        "width": "6",
        "height": "6",
        "name": "Signal",
        "label": "",
        "format": " <font size = 6> <font color = red><align = center>{{msg.payload}}",
        "layout": "col-center",
        "x": 730,
        "y": 380,
        "wires": []
    },
    {
        "id": "ebd61898.3a9db",
        "type": "function",
        "z": "CGLG6",
        "name": "parse-alert",
        "func": "var point = msg.payload;\n\nif (point.x !== 0) {\n   var p = {\n       x:point.x.value,\n       y:point.y.value,\n       z:point.z.value,\n      \n   }\n}\nelse{\n  var p = {\n        x:0,\n       y:0,\n       z:0,\n      \n   }\n}\n   return {payload:p};\n",
        "outputs": 1,
        "noerr": 0,
        "x": 320,
        "y": 480,
        "wires": [
            [
                "7095e2ba.21232c",
                "c347fae6.5c14d8"
            ]
        ]
    },
    {
        "id": "447e9053.a5f438",
        "type": "function",
        "z": "CGLG6",
        "name": "keep-stamp",
        "func": "var s = msg.payload;\nvar stamp = {\n        stamp:s.stamp.value,\n        \n    }\nreturn {payload: stamp};",
        "outputs": 1,
        "noerr": 0,
        "x": 530,
        "y": 300,
        "wires": [
            [
                "a0012654.de3a28"
            ]
        ]
    },
    {
        "id": "a0012654.de3a28",
        "type": "simpletime",
        "z": "CGLG6",
        "name": "timestamp",
        "x": 700,
        "y": 300,
        "wires": [
            [
                "d542fd5b.8b5ad"
            ]
        ]
    },
    {
        "id": "d542fd5b.8b5ad",
        "type": "function",
        "z": "CGLG6",
        "name": "latency",
        "func": "var p = msg.payload;\n\nvar diff = msg.myepoch - p.stamp;\n\nvar all = {\n    now:msg.myepoch,\n    then:p.stamp,\n    diff:diff\n}    \n\nreturn {payload:diff};\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 860,
        "y": 300,
        "wires": [
            [
                "e837db3e.e982d8"
            ]
        ]
    },
    {
        "id": "e837db3e.e982d8",
        "type": "ui_chart",
        "z": "CGLG6",
        "name": "",
        "group": "ca2d098.31b4ff8",
        "order": 2,
        "width": "6",
        "height": "6",
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "10",
        "removeOlder": 1,
        "removeOlderPoints": "100",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 1010,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "d28f218e.52284",
        "type": "debug",
        "z": "CGLG6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 880,
        "y": 620,
        "wires": []
    },
    {
        "id": "cdcebf4a.c4a188",
        "type": "ui_group",
        "z": "",
        "name": "Coortinates",
        "tab": "3ae4c67.ec7b8ba",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "215c6d36.b0f562",
        "type": "ui_group",
        "z": "",
        "name": "Enable Monitoring",
        "tab": "3ae4c67.ec7b8ba",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "8c9273dd.3f4ed",
        "type": "ui_group",
        "z": "",
        "name": "Signal",
        "tab": "3ae4c67.ec7b8ba",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ca2d098.31b4ff8",
        "type": "ui_group",
        "z": "",
        "name": "Latency",
        "tab": "3ae4c67.ec7b8ba",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "3ae4c67.ec7b8ba",
        "type": "ui_tab",
        "z": "",
        "name": "Lab Monitoring",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
